.root {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 3.5rem 0;
  
  main {
    display: flex;
    gap: 2.25rem;
    justify-content: center;

    a {
      font-size: 0;

      svg {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  footer {
    text-align: center;
  }
}