.root {
  padding: 1.75rem 0;

  :global(.container) {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    
    ul {
      display: flex;
      gap: 2rem;
      justify-content: flex-end;

      li {
        display: block;
        font-size: 1.2rem;
        font-weight: 500;
      }

      @media screen and (max-width: 575px) {
        display: none;
      }
    }

    .menuTrigger {
      background-color: transparent;
      border-width: 0;
      font-size: 0;

      svg {
        color: var(--color-text);
        height: 1.75rem;
        width: 1.75rem;
      }

      @media screen and (min-width: 576px) {
        display: none;
      }

      @media screen and (max-width: 575px) {
        order: 2;
      }
    }

    @media screen and (max-width: 575px) {
      justify-content: space-between;
    }
  }
}