.root {
  &>* {
    margin-bottom: 1rem;
  }
  
  h1 {
    margin-bottom: 2rem;
  }
  
  h2 {
    margin-bottom: 2rem;
  }
  
  h3 {
    margin-bottom: 1.5rem;
  }
  
  h4 {
    margin-bottom: 1.5rem;
  }
  
  h5 {
    margin-bottom: 1rem;
  }
  
  h6 {
    margin-bottom: 1rem;
  }

  pre {
    background-color: #222;
    border-radius: 4px;
    color: #fff;
    padding: 1rem;
  }

  ul {
    padding-left: 2rem;
  }
}