.root {
  :global(.container) {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .project {
      display: flex;
      gap: 1rem;

      .imageContainer {
        position: relative;
        min-width: 28%;
        
        img {
          border-radius: 0.375rem;
        }
      }

      .dataContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .info {
          display: flex;
          gap: 1.75rem;

          .year {
            background-color: var(--color-tag-background);
            border-radius: 1rem;
            color: var(--color-background);
            padding: 0 0.625rem;
          }

          .type {
            color: #8695a4;
          }
        }

        @media screen and (max-width: calc(575px)) {
          gap: 0.5rem;
        }
      }

      @media screen and (max-width: calc(575px)) {
        flex-direction: column;
        gap: 1rem;

        .imageContainer {
          min-width: unset;
        }
      }
    }

    &>.divider {
      background-color: #e0e0e0;
      height: 1px;
    }
  }
}