$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font: 400 14px 'Heebo', sans-serif;
  
  @media screen and (min-width: $sm) {
    font-size: 14px;
  }
  
  @media screen and (min-width: $md) {
    font-size: 15px;
  }
  
  @media screen and (min-width: $lg) {
    font-size: 16px;
  }
  
  @media screen and (min-width: $xl) {
    font-size: 18px;
  }
  
  @media screen and (min-width: $xxl) {
    font-size: 20px;
  }
}

button {
  cursor: pointer;
}

button, input, textarea {
  font: 400 1rem 'Libre Franklin';
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

.container {
  margin: 0 auto;
  width: 70%;
  
  @media screen and (min-width: $sm) {
    max-width: 540px;
  }
  
  @media screen and (min-width: $md) {
    max-width: 720px;
  }
  
  @media screen and (min-width: $lg) {
    max-width: 960px;
  }
  
  @media screen and (min-width: $xl) {
    max-width: 1140px;
  }
  
  @media screen and (min-width: $xxl) {
    max-width: 1320px;
  }
}