.root {
  .presentation {
    main {
      display: flex;
      gap: 10vw;

      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .picture {
        img {
          border-radius: 50%;
          height: 21vw;
          width: 21vw;
        }
      }
    }

    .actionContainer {
      button {
        background-color: #ff6464;
        border-radius: 0.125rem;
        border-width: 0;
        color: #fff;
        font-size: 1.25rem;
        padding: 1rem 1.25rem;
      }
    }
  }
}