.root {
  .presentation {
    main {
      display: flex;
      gap: 10vw;

      .text {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
      }

      .picture {
        img {
          border-radius: 50%;
          height: 21vw;
          width: 21vw;
        }
      }
    }
  }
}